---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Search from "@components/Search";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url) as string;
const t = useTranslations(lang);

// Retrieve all articles
const posts = await getCollection(
  "blog",
  ({ data }) => !data.draft && data.lang == lang
);

// List of items to search in
const searchList = posts.map(({ data }) => ({
  title: data.title,
  description: data.description,
  data,
}));
---

<Layout title={`Search | ${SITE.title}`}>
  <Header activeNav="search" />
  <Main pageTitle={t("nav.search")} pageDesc={t("search.any_article")}>
    <Search client:load searchList={searchList} lang={lang} />
  </Main>
  <Footer />
</Layout>
